img {
	float:left;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
}
#desc {
	font-size: 14px;
	text-indent: 1.5em;
	line-height: 1.7em;
}

#articleTitle {
	text-overflow: ellipsis;
}

#story2 {
	text-align: left;
}